#item-1 {
  background-color: #b76b8d;
  height: 14rem;
}
#item-2 {
  background-color: #ad997c;
  height: 14rem;
}
#item-3 {
  background-color: #cd5997;
  height: 14rem;
}
#item-4 {
  background-color: #5b85a7;
  height: 14rem;
}
#item-5 {
  background-color: #b88e5d;
  height: 14rem;
}
#item-7 {
  background-color: burlywood;
  height: 14rem;
}

#item-6 {
  padding: 2rem;
}

.CTAA {
  background-color: #fdb1bb;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  transition: 0.2s ease-in-out 0s;
}

.CTAA:hover {
  transform: scale(0.95);
}

.tutor-wrapper {
  background-color: #ebebeb;
}
.t1 {
  width: 254px;
  height: 300px;
}
.t2 {
  width: 254px;
  height: 300px;
}
.t3 {
  width: 254px;
  height: 300px;
}
.t4 {
  width: 254px;
  height: 300px;
}
.t5 {
  width: 254px;
  height: 300px;
}
.t6 {
  width: 254px;
  height: 300px;
}
