#item-1 {
  background-color: #b76b8d;
  height: 14rem;
}
#item-2 {
  background-color: #ad997c;
  height: 14rem;
}
#item-3 {
  background-color: #cd5997;
  height: 14rem;
}
#item-4 {
  background-color: #5b85a7;
  height: 14rem;
}
#item-5 {
  background-color: #b88e5d;
  height: 14rem;
}
#item-7 {
  background-color: burlywood;
  height: 14rem;
}

#item-6 {
  padding: 2rem;
}

.CTAA {
  background-color: #fdb1bb;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

.tutor-wrapper {
  background-color: #ebebeb;
}
